apiVersion: v1
kind: ConfigMap
metadata:
  name: homepage
  namespace: homepage
  labels:
    app.kubernetes.io/name: homepage
data:
  kubernetes.yaml: |
    mode: cluster

  settings.yaml: |
    title: 70LD Homelab
    theme: dark
    color: slate

    layout:
        Network:
            style: row
            columns: 2

        Kubernetes:
            style: row
            columns: 3

  custom.css: ""
  custom.js: ""
  bookmarks.yaml: ""
  services.yaml: |
    - Network:
      - Adguard:
            icon: adguard-home.png
            href: http://192.168.4.2
            description: Primary DNS
            widget:
                type: adguard
                url: http://192.168.4.2
                username: admin
                password: 123qwe!!
                fields: ["queries", "blocked", "latency"]

      - Proxmox:
          icon: proxmox.png
          href: http://192.168.7.1:8006
          description: PVE
          widget:
            type: proxmox
            url: https://192.168.7.1:8006
            username: root@pam!homepage
            password: 20a8e387-efb8-41e9-addc-4d25fd907339
            fields: ["vms", "lxc", "resources.cpu", "resources.mem"]

    - Kubernetes:
        - AlertManager:
            icon: prometheus.png
            href: https://alertmanager-prod.70ld.dev
            description: Alert Management

        - ArgoCD:
            icon: argo-cd.png
            href: https://argocd-prod.70ld.dev
            description: Continuous Delivery

        - Docker Registry:
            icon: docker.svg
            href: https://192.168.7.2:5000/v2/_catalog
            description: Container Registry

        - Headlamp 
            icon: headlamp.svg
            href: https://headlamp.70ld.dev
            description: Kubernetes UI

        - Grafana:
            icon: grafana.png
            href: https://grafana-prod.70ld.dev/dashboards?starred
            description: Analytics & Monitoring

        - Longhorn:
            icon: longhorn.png
            href: https://longhorn-prod.70ld.dev
            description: Persistent Block Storage

        - MinIO:
            icon: minio.png
            href: https://minio-console-prod.70ld.dev
            description: Distributed Object Storage

        - PGAdmin:
            icon: postgres.png
            href: https://pgadmin-prod.70ld.dev
            description: Postgres Management

        - Prometheus:
            icon: prometheus.png
            href: http://prometheus-prod.70ld.dev
            description: Analytics & Monitoring

        - Trino:
            icon: https://trino.io/assets/images/trino-logo/trino-ko_tiny-alt.svg
            href: https://trino-prod.70ld.dev/ui
            description: Fast distributed SQL query engine

        - TrueNAS Scale:
            icon: truenas-scale.svg
            href: http://nas.home.local
            description: Actually WD Cloud

  widgets.yaml: ""
  docker.yaml: ""
