apiVersion: v1
kind: ConfigMap
metadata:
  name: homepage
  namespace: homepage
  labels:
    app.kubernetes.io/name: homepage
data:
  kubernetes.yaml: |
    mode: cluster
  settings.yaml: |
    title: 70LD Homelab
    theme: dark
    color: slate

    layout:
        Network:
            style: row
            columns: 1

        Kubernetes:
            style: row
            columns: 3
  custom.css: ""
  custom.js: ""
  bookmarks.yaml: ""
  services.yaml: |
    - Network:
      - PiHole:
            icon: pi-hole.png
            href: https://192.168.4.2/admin
            description: Primary DNS
            widget:
                type: pihole
                url: http://192.168.4.2
                version: 6
                fields: ["queries", "blocked", "blocked_percent", "gravity"]

    - Kubernetes:
        - AlertManager:
            icon: prometheus.png
            href: https://alertmanager.70ld.dev
            description: Alert Management

        - ArgoCD:
            icon: argo-cd.png
            href: https://argocd.70ld.dev
            description: Continuous Delivery

        - Authentik:
            icon: authentik.png
            href: https://authentik.70ld.dev/if/admin/#/administration/overview
            description: Authentication Provider

        - Docker Registry:
            icon: docker.svg
            href: https://registry.70ld.dev/v2/_catalog
            description: Container Registry

        - Grafana:
            icon: grafana.png
            href: https://grafana.70ld.dev/dashboards?starred
            description: Analytics & Monitoring

        - Longhorn:
            icon: longhorn.png
            href: https://longhorn.70ld.dev
            description: Persistent Block Storage

        - PGAdmin:
            icon: postgres.png
            href: https://pgadmin.70ld.dev
            description: Postgres Management

        - Prometheus:
            icon: prometheus.png
            href: http://prometheus.70ld.dev
            description: Analytics & Monitoring

        - TrueNAS Scale:
            icon: truenas-scale.svg
            href: http://nas.home.local
            description: Actually WD Cloud
  widgets.yaml: ""
  docker.yaml: ""
