apiVersion: v1
kind: Service
metadata:
  name: homepage
  namespace: envoy-gateway-system
  labels:
    app.kubernetes.io/name: homepage
spec:
  type: ClusterIP
  selector:
    app: homepage
  ports:
    - port: 3000
      targetPort: 80
      protocol: TCP
      name: http
