apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: cilium
  namespace: argocd
  metadata:
spec:
  project: default
  sources:
    - chart: cilium
      repoURL: https://helm.cilium.io/
      targetRevision: 1.18.4
      helm:
        valuesObject:
          ingressController:
            enabled: true
            default: true
            loadbalancerMode: dedicated

            service:
              name: cilium-ingress
              type: LoadBalancer
              loadBalancerIP: 192.168.7.69

  destination:
    server: https://kubernetes.default.svc
    namespace: cilium

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
