apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: &app vault
  namespace: argocd
  metadata:
spec:
  project: default
  sources:
    - chart: vault
      repoURL: https://helm.releases.hashicorp.com
      targetRevision: 0.31.0
      helm:
        valuesObject:
          global:
            enable: true

          server:
            logLevel: warn

            resources:
              requests:
                memory: 256Mi
                cpu: 250m
              limits:
                memory: 256Mi
                cpu: 250m

            ingress:
              enabled: true
              annotations:
                kubernetes.io/tls-acme: "true"
                cert-manager.io/cluster-issuer: "letsencrypt-cloudflare-dns-issuer"
              ingressClassName: nginx
              pathType: Prefix
              hosts:
                - host: vault.70ld.dev
                  paths: []
              tls:
                - secretName: vault-tls
                  hosts:
                    - vault.70ld.dev

  destination:
    server: https://kubernetes.default.svc
    namespace: *app

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true