# apiVersion: argoproj.io/v1alpha1
# kind: Application
# metadata:
#   name: trino
#   namespace: argocd
#   annotations:
#     argocd.argoproj.io/sync-wave: "1"
# spec:
#   destination:
#     server: "https://kubernetes.default.svc"
#     namespace: trino
#   project: default
#   source:
#     chart: trino
#     repoURL: https://trinodb.github.io/charts
#     targetRevision: 1.39.1
#     helm:
#       valuesObject:
#         imagePullSecrets: []

#         server:
#           workers: 2
#           node:
#             environment: production
#             dataDir: /data/trino
#             pluginDir: /usr/lib/trino/plugin
#           log:
#             trino:
#               level: INFO
#           config:
#             path: /etc/trino
#             https:
#               enabled: false
#               port: 8443
#               keystore:
#                 path: ""
#             authenticationType: ""
#             query:
#               maxMemory: "4GB"

#         additionalConfigProperties:
#           - http-server.process-forwarded=true

#         # CATALOGS
#         catalogs:
#           # CNPG Cluster main db [K8s]
#           cloudnativepg: |
#             connector.name=postgresql
#             connection-url=jdbc:postgresql://192.168.7.80:5432/main
#             connection-user=paul
#             connection-password=password

#         service:
#           type: LoadBalancer
#           port: 8080
#           annotations:
#             metallb.universe.tf/loadBalancerIPs: 192.168.7.81

#         auth: {}

#         coordinator:
#           jvm:
#             maxHeapSize: "8G"
#             gcMethod:
#               type: "UseG1GC"
#               g1:
#                 heapRegionSize: "32M"

#         worker:
#           jvm:
#             maxHeapSize: "8G"
#             gcMethod:
#               type: "UseG1GC"
#               g1:
#                 heapRegionSize: "32M"

#           config:
#             memory:
#               heapHeadroomPerNode: ""
#             query:
#               maxMemoryPerNode: "1GB"

#         kafka:
#           mountPath: "/etc/trino/schemas"

#         serviceMonitor:
#           enabled: true
#           labels:
#             prometheus: kube-prometheus
#           interval: 30s

#         ingress:
#           enabled: true
#           className: nginx
#           annotations:
#             cert-manager.io/cluster-issuer: "letsencrypt-cloudflare-dns-issuer"
#           hosts:
#             - host: trino-prod.70ld.dev
#               paths:
#                 - path: /ui
#                   pathType: ImplementationSpecific
#           tls:
#             - hosts:
#                 - trino-prod.70ld.dev
#               secretName: trino-prod-tls

#   syncPolicy:
#     automated:
#       prune: true
#       selfHeal: true
#     syncOptions:
#       - CreateNamespace=true
