apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: trino
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: '1'
spec:
  destination:
    server: 'https://kubernetes.default.svc'
    namespace: trino
  project: default
  source:
    chart: trino
    repoURL: https://trinodb.github.io/charts
    targetRevision: 1.41.0
    helm:
      valuesObject:
        imagePullSecrets: []

        server:
          workers: 1
          node:
            environment: production
            dataDir: /data/trino
            pluginDir: /usr/lib/trino/plugin
          log:
            trino:
              level: INFO
          config:
            path: /etc/trino
            https:
              enabled: false
              port: 8443
              keystore:
                path: ''
            authenticationType: ''
            query:
              maxMemory: '4GB'

        additionalConfigProperties:
          - http-server.process-forwarded=true

        # CATALOGS
        catalogs:
          # CNPG Cluster main db [K8s]
          cloudnativepg: |
            connector.name=postgresql
            connection-url=jdbc:postgresql://192.168.7.80:5432/main
            connection-user=paul
            connection-password=password

          # iceberg_nessie: |
          # connector.name=iceberg
          # iceberg.catalog.type=nessie
          # iceberg.nessie-catalog.uri=https://nessie.mycompany.com/api/v2
          # iceberg.nessie-catalog.ref=main
          # iceberg.nessie-catalog.default-warehouse-dir=/tmp
          # iceberg.nessie-catalog.enable-compression=true

        service:
          type: LoadBalancer
          port: 8080
          annotations:
            metallb.universe.tf/loadBalancerIPs: 192.168.7.81

        auth: {}

        coordinator:
          resources:
            limits:
              cpu: 100m
              memory: 128Mi
            requests:
              cpu: 100m
              memory: 128Mi
          jvm:
            maxHeapSize: '8G'
            gcMethod:
              type: 'UseG1GC'
              g1:
                heapRegionSize: '32M'

        worker:
          resources:
            limits:
              cpu: 100m
              memory: 128Mi
            requests:
              cpu: 100m
              memory: 128Mi
          jvm:
            maxHeapSize: '8G'
            gcMethod:
              type: 'UseG1GC'
              g1:
                heapRegionSize: '32M'

          config:
            memory:
              heapHeadroomPerNode: ''
            query:
              maxMemoryPerNode: '1GB'

        kafka:
          mountPath: '/etc/trino/schemas'

        serviceMonitor:
          enabled: true
          labels:
            prometheus: kube-prometheus
          interval: 30s

        ingress:
          enabled: true
          className: nginx
          annotations:
            cert-manager.io/cluster-issuer: 'letsencrypt-cloudflare-dns-issuer'
          hosts:
            - host: trino-prod.70ld.dev
              paths:
                - path: /ui
                  pathType: ImplementationSpecific
          tls:
            - hosts:
                - trino-prod.70ld.dev
              secretName: trino-prod-tls

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
