apiVersion: apps/v1
kind: Deployment
metadata:
  name: external-dns
  namespace: external-dns
spec:
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: external-dns
  template:
    metadata:
      labels:
        app: external-dns
    spec:
      serviceAccountName: external-dns
      containers:
        - name: external-dns
          image: registry.k8s.io/external-dns/external-dns:v0.18.0
          envFrom:
            - secretRef:
                name: external-dns-pihole
          args:
            - --source=service
            - --source=ingress
            - --source=gateway-httproute
            # Pihole only supports A/AAAA/CNAME records so there is no mechanism to track ownership.
            # You don't need to set this flag, but if you leave it unset, you will receive warning
            # logs when ExternalDNS attempts to create TXT records.
            - --registry=noop
            # IMPORTANT: If you have records that you manage manually in Pi-hole, set
            # the policy to upsert-only so they do not get deleted.
            - --policy=upsert-only
            - --provider=pihole
            # Switch to pihole V6 API
            - --pihole-api-version=6
            # Change this to the actual address of your Pi-hole web server
            - --pihole-server=http://192.168.4.2
            # Increase timeout and API limits to prevent crashes during migration
            - --kube-api-burst=50
            - --kube-api-qps=25
            - --log-level=info
          resources:
            requests:
              cpu: 50m
              memory: 128Mi
            limits:
              cpu: 200m
              memory: 256Mi
      securityContext:
        fsGroup: 65534 # For ExternalDNS to be able to read Kubernetes token files
