---
apiVersion: argoproj.io/v1alpha1
kinda: Application
metadata:
  name: rustfs
  namespace: &app rustfs
spec:
  project: default
  sources:
    - chart: rustfs
      repoURL: https://charts.rustfs.com
      targetRevision: 0.0.83
      helm:
        valuesObject:
          replicaCount: 1

          mode:
            standalone:
              enabled: true
              strategy:
                type: RollingUpdate

          secret:
            rustfs:
              access_key: rustfsadmin
              secret_key: rustfsadmin

          service:
            type: LoadBalancer

          ingress:
            enabled: true
            className: nginx
            hosts:
              - host: rustfs.home.local
                paths:
                  - path: /
                    pathType: Prefix

  destination:
    server: https://kubernetes.default.svc
    namespace: *app

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true














