apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: gatus
  namespace: argocd
  metadata:
spec:
  project: default
  sources:
    - chart: gatus
      repoURL: https://twin.github.io/helm-charts
      targetRevision: 1.4.4
      helm:
        valuesObject:
          ingress:
            enabled: true
            ingressClassName: nginx
            annotations:
              cert-manager.io/cluster-issuer: "letsencrypt-cloudflare-dns-issuer"
            path: /
            pathType: Prefix
            hosts:
              - gatus.70ld.dev
            tls:
              - secretName: gatus-tls
                hosts:
                  - gatus.70ld.dev

          resources:
            limits:
              cpu: 100m
              memory: 32Mi
            requests:
              cpu: 50m
              memory: 16Mi

          persistence:
            enabled: true
            size: 200Mi
            mountPath: /data
            accessModes:
              - ReadWriteOnce
            finalizers:
              - kubernetes.io/pvc-protection
            storageClassName: longhorn

          # ref: https://github.com/TwiN/gatus#configuration
          config:
            ui:
              title: "70LD Infra Health"
              header: "70LD Homelab"
              link: "https://github.com/mrpbennett"
              default-sort-by: group

            alerting:
              discord:
                webhook-url: "https://discord.com/api/webhooks/1434854791900692661/9UWUhw3Hocq33ccJaqnzC__kCS9hpEIzetobHmL7PZ859PB4jRbPZSE854kKWc_kwdHp"

            endpoints:
              - name: Proxmox
                group: bare-metal
                url: tcp://192.168.7.1:8006
                interval: 60s
                conditions:
                  - "[CONNECTED] == true"
                  - "[STATUS] == 0"
                  - "[RESPONSE_TIME] < 100"
                alerts:
                  - type: discord
                    description: "PVE1 is unreachable"

              - name: NAS Storage
                group: bare-metal
                url: imcp://192.168.4.110
                interval: 60s
                conditions:
                  - "[CONNECTED] == true"
                alerts:
                  - type: discord
                    description: "NAS storage is unreachable"

                # KUBERNETES SERVICES ---
              - name: External DNS
                group: services
                url: tcp://external-dns.external-dns.svc.cluster.local:7979
                interval: 60s
                conditions:
                  - "[CONNECTED] == true"
                alerts:
                  - type: discord
                    description: "External DNS service is down"
                    failure-threshold: 3

              - name: Longhorn Backend
                group: services
                url: tcp://longhorn-backend.longhorn-system.svc.cluster.local:9500
                interval: 60s
                conditions:
                  - "[CONNECTED] == true"
                alerts:
                  - type: discord
                    description: "Longhorn backend service is down"
                    failure-threshold: 3

              # K8s DATABASE
              - name: CNPG Cluster RW
                group: databases
                url: tcp://cnpg-cluster-prod-rw.cnpg-cluster-prod.svc.cluster.local:5432
                interval: 60s
                conditions:
                  - "[CONNECTED] == true"
                  - "[STATUS] == 0"
                  - "[RESPONSE_TIME] < 100"
                alerts:
                  - type: discord
                    description: "CloudnativePG RW service is unreachable"
                    failure-threshold: 3
                    success-threshold: 2

              - name: CNPG Cluster RO
                group: databases
                url: tcp://cnpg-cluster-prod-ro.cnpg-cluster-prod.svc.cluster.local:5432
                interval: 60s
                conditions:
                  - "[CONNECTED] == true"
                  - "[STATUS] == 0"
                  - "[RESPONSE_TIME] < 100"
                alerts:
                  - type: discord
                    description: "CloudnativePG RO is unreachable"
                    failure-threshold: 5

  destination:
    server: https://kubernetes.default.svc
    namespace: gatus

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
