---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: &app docker-registry
  namespace: argocd
  annotations: {}
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: "https://github.com/mrpbennett/home-ops.git"
    path: kubernetes/apps/docker-registry
    targetRevision: HEAD
    directory:
      recurse: true
  destination:
    namespace: *app
    server: "https://kubernetes.default.svc"
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
    retry:
      limit: 5
      backoff:
        duration: 5s
        maxDuration: 5m0s
        factor: 2
