---
apiVersion: argoproj.io/v1alpha1
kind: CronWorkflow
metadata:
  name: &app faker-fact-cronworkflow
  namespace: argo
  annotations:
    workflows.argoproj.io/description: Populate faker users in fact
    workflows.argoproj.io/tags: faker
spec:
  schedule: "*/30 * * * *"
  timezone: "Europe/London"
  startingDeadlineSeconds: 30
  concurrencyPolicy: "Replace"
  successfulJobsHistoryLimit: 3
  failedJobsHistoryLimit: 3
  suspend: false
  workflowSpec:
    serviceAccountName: argo-workflows
    entrypoint: *app
    templates:
      - name: *app
        container:
          image: 192.168.7.123:5000/faker-users-fact:0.0.1
          imagePullPolicy: IfNotPresent
        retryStrategy:
          limit: 3
          backoff:
            duration: "5s"
            factor: 2
            maxDuration: "30s"
