apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: ingress-nginx
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: '0'
spec:
  destination:
    server: 'https://kubernetes.default.svc'
    namespace: ingress-nginx
  project: default
  source:
    chart: ingress-nginx
    repoURL: https://kubernetes.github.io/ingress-nginx
    targetRevision: 4.11.1
    helm:
      valuesObject:
        controller:
          containerPort:
            http: 80
            https: 443

          ingressClassResource:
            name: nginx # default: nginx
            enabled: true
            default: true

          ingressClass: nginx # default: nginx

          resources:
            requests:
              cpu: 100m
              memory: 64Mi

          service:
            enabled: true
            external:
              # -- Enable the external controller service or not. Useful for internal-only deployments.
              enabled: true
            type: LoadBalancer
            loadBalancerIP: 192.168.7.69
            ipFamilies:
              - IPv4
            enableHttp: true
            enableHttps: true
            ports:
              http: 80
              https: 443
              targetPorts:
                http: http
                https: https

          metrics:
            metrics:
              enabled: true
              podAnnotations:
                prometheus.io/port: 10254
                prometheus.io/scrape: true
            serviceMonitor:
              enabled: true
              additionalLabels:
                release: prometheus

            prometheusRule:
              enabled: true
              rules:
                - alert: NGINXConfigFailed
                  expr: count(nginx_ingress_controller_config_last_reload_successful == 0) > 0
                  for: 1s
                  labels:
                    severity: critical
                  annotations:
                    description: bad ingress config - nginx config test failed
                    summary: uninstall the latest ingress changes to allow config reloads to resume
                - alert: NGINXCertificateExpiry
                  expr: (avg(nginx_ingress_controller_ssl_expire_time_seconds) by (host) - time()) < 604800
                  for: 1s
                  labels:
                    severity: critical
                  annotations:
                    description: ssl certificate(s) will expire in less then a week
                    summary: renew expiring certificates to avoid downtime
                - alert: NGINXTooMany500s
                  expr: 100 * ( sum( nginx_ingress_controller_requests{status=~"5.+"} ) / sum(nginx_ingress_controller_requests) ) > 5
                  for: 1m
                  labels:
                    severity: warning
                  annotations:
                    description: Too many 5XXs
                    summary: More than 5% of all requests returned 5XX, this requires your attention
                - alert: NGINXTooMany400s
                  expr: 100 * ( sum( nginx_ingress_controller_requests{status=~"4.+"} ) / sum(nginx_ingress_controller_requests) ) > 5
                  for: 1m
                  labels:
                    severity: warning
                  annotations:
                    description: Too many 4XXs
                    summary: More than 5% of all requests returned 4XX, this requires your attention
          affinity:
            podAntiAffinity:
              preferredDuringSchedulingIgnoredDuringExecution:
                - weight: 100
                  podAffinityTerm:
                    labelSelector:
                      matchExpressions:
                        - key: app.kubernetes.io/name
                          operator: In
                          values:
                            - ingress-nginx
                        - key: app.kubernetes.io/instance
                          operator: In
                          values:
                            - ingress-nginx
                        - key: app.kubernetes.io/component
                          operator: In
                          values:
                            - controller
                    topologyKey: kubernetes.io/hostname

  syncPolicy:
    automated:
      prune: true
    syncOptions:
      - CreateNamespace=true
      - ApplyOutOfSyncOnly=true
