apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: duckdb-data
  namespace: duckdb
  labels:
    app: duckdb
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
  storageClassName: longhorn
